services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: vtgd65aoty 
      MYSQL_DATABASE: bderp 
    ports:
      - "3306:3306"
    volumes:
      - ./db:/docker-entrypoint-initdb.d
      - mysql_data:/var/lib/mysql
    networks:
      - minha_rede_app

  app:
    build: ./docker/php
    container_name: php_app
    depends_on:
      - db
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    networks:
      - minha_rede_app
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: pma
    restart: always
    ports:
      - "8081:80" 
    environment:
      PMA_HOST: db
    depends_on:
      - db
    networks:
      - minha_rede_app 

networks:
  minha_rede_app:
    driver: bridge

volumes:
  mysql_data:
    driver: local